SpaziCinema.dtd


<!DOCTYPE SpaziCinema [
    <!ELEMENT SpaziCinema (cinema+)>
    <!ELEMENT cinema (comune, provincia, nome, tipo_sala, posti, indirizzo, telefono, longitudine, latitudine)>
    <!ELEMENT comune (#PCDATA)>
    <!ELEMENT provincia (#PCDATA)>
    <!ELEMENT nome (#PCDATA)>
    <!ELEMENT tipo_sala (#PCDATA)>
    <!ELEMENT posti (#PCDATA)>
    <!ELEMENT indirizzo (#PCDATA)>
    <!ELEMENT telefono (#PCDATA)>
    <!ELEMENT longitudine (#PCDATA)>
    <!ELEMENT latitudine (#PCDATA)>
]>